.button {
    -fx-border-radius: 20;
    -fx-border-color: #8d9199;
    -fx-background-radius: 20;
    -fx-background-color: #4299fc;
    -fx-cursor: hand;
}


.button:hover {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.text-area {
    -fx-text-fill: black;
}

.registerButton {
    -fx-border-radius: 0;
    -fx-border-color: #8d9199;
}