.button {
    -fx-border-radius: 20;
    -fx-border-color: #6b666e;
    -fx-background-radius: 20;
    -fx-background-color: #b2acb5;
    -fx-cursor: hand;
}


.button:hover {
    -fx-background-color: black;
    -fx-text-fill: white;
}


.text-area {
    -fx-text-fill: #000;
}
